# Entorno / secretos
.env

# Python
__pycache__/
*.pyc
venv/
.venv/


# Imágenes / capturas / fotos
*.jpg
*.jpeg
*.png
*.gif
*.webp
*.heic

# Notas y docs sueltos (markdown), salvo el README que sí se versiona
*.md
!README.md
